[submodule "Spatial_Vector_Notes/marchhare"]
	path = Spatial_Vector_Notes/marchhare
	url = https://jwatson_utah_edu@bitbucket.org/jwatson_utah_edu/marchhare.git
[submodule "POMDP/marchhare"]
	path = POMDP/marchhare
	url = https://jwatson_utah_edu@bitbucket.org/jwatson_utah_edu/marchhare.git
